.home-link a:hover {
    border-radius: 45px;
    border-width: 50px;
    border-top: 30px;
  background-color: rgba(0, 255, 200, 0.443);
  color: rgb(255, 255, 255);
}
.matrix-link a:hover {
    border-radius: 45px;
    border-width: 50px;
    border-top: 30px;
  background-color: rgba(0, 255, 200, 0.443);
  color: rgb(218, 28, 28);
}
.About_us-link a:hover {
    border-radius: 45px;
    border-width: 50px;
    border-top: 30px;
  background-color: rgba(0, 255, 200, 0.443);
  color: rgb(255, 255, 255);
}

body {
    font-family: Arial, sans-serif;
    background-image: url(desgin_password_genrator_page.jpg);
    background-size: cover;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #47131300;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #5ad4df;
  }
  
  form {
    display: flex;
    font-size: 20px;
    color: #4c9eaf;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  form > * {
    flex-basis: 100%;
    margin: 10px 0;
  }
  
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  select,
  input[type="number"],
  input[type="password"],
  textarea {
    display: block;
    width: 750px;
    padding: 10px;
    border: 3px solid #0ddecd;
    border-radius: 9px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
  }

  select,input:hover {
    background-color: #0ddecd;
  }

  textarea:hover {
    background-color: aqua;
  }
  
  select {
    height: 40px;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4caf4fd7;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  button:hover {
    background-color: rgba(216, 131, 20, 0.528);
  }
  /* select {
    width: 400px;
    font-size: 17px;
    padding: 8px;
    border: rgb(57, 28, 203);
    border-radius: 10px;
    background-color: #75bbd2;
  } */
  textarea {
    height: 70px;
  }
  
  .output {
    text-align: center;
    margin-top: 20px;
  }
  
  .output label {
    display: block;
    margin-bottom: 5px;
  }
  
  .output textarea {
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  iframe {
    position: absolute;
			left: 0;
      top: 274px; /* adjust this value to position the calculator vertically */
			width: 225px; /* adjust this value to match the width of your calculator */
			height: 357px;
  }

  header nav ul {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00000000;
  }
  
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

header nav ul:hover {
  height: auto;
  border-radius: 20px;
  background-color: #00000000;
  scrollbar-highlight-color: #30c80e;
  color: #0ddecd00;
}